*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  min-height: 100vh;
  display: flex;
  background:#D0F5BE;
}
.quote{
  margin: auto;
  width: 100%;
  max-width: 300px;
  min-height: 150px;
  padding: 30px;
  background: #FBFFDC;
  border-radius: 4px;
  box-shadow: 24px 24px 1px rgba(37, 37, 37, 0.333);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
p{
  color: #242425;
  font-size: 17px;
  word-wrap: break-word;
}
p:last-of-type{
  margin: 10px 0;
}
button{
  border: none;
  outline: none;
  margin-right: 12px;
}
.btn{
  background: #454545;
  color: aliceblue;
  width: 80px;
  padding: 7px 0;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 100ms ease-in;
}
.btn:hover{
  color: #242425;
  background: rgb(116, 161, 189);
}

#footer{
  text-align:center;
  padding-top: 4px;
  padding-bottom: 8px;
  background-color: #98EECC;
}



/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #98EECC;
  padding: 20px 10px;
}


/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
  padding-left: 2rem;
}

/* Change the background color on mouse-over */
.header a:hover {
 
  color: #374259;
}
/* sahee nahi lag raha hai */
/* .header:hover{
  background-color: #FDCEDF;
} */











